@charset "UTF-8";
.site-footer{position:absolute;left:0;bottom:0;width:100%}
.site-footer .footer-content{height:222px;background:#f4f6f8;padding:40px 0 0;line-height:1.6;font-size:.9375rem}
.site-footer .footer-title{font-size:1.125rem;margin:0 0 12px}
.site-footer .footer-list li{margin:0 0 10px}
.site-footer .footer-top {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    background: #e1e1e1;
}


.site-footer .footer-top .social {
    float: right;
    text-align: right;
    margin: 0 -4px 0 0;
    position: relative;
    top: 3px;
    font-size: 12px;
}




.site-footer .footer-bottom{height:60px; overflow:hidden; background: #e1e1e1; line-height: 35px;}
.site-footer .footer-bottom .copy{float:left;font-size:1rem}
.site-footer .footer-bottom .social{float:right;text-align:right;margin:0 -4px 0 0;position:relative;top:3px; font-size: 12px;}
.site-footer .footer-bottom .social a{margin:0 4px;text-decoration:none;color:#d3d8de}
.site-footer .footer-bottom .social a:hover{text-decoration:none;color:#76848e}
@media (max-width:991px){.site-footer{position:static}
.site-footer .footer-bottom,.site-footer .footer-content{height:auto}
.site-footer .footer-content{padding:5px 0 20px}
.site-footer .footer-title{margin-top:30px}
}
@media (max-width:767px){.site-footer .footer-bottom{text-align:center}
.site-footer .footer-bottom .copy,.site-footer .footer-bottom .social{
    float:none;
    width: 100%;
    clear: both;
}

.site-footer .footer-bottom .copy #nav li {
    font-size: 12px;
    padding-right: 1px;
}

 .site-footer .footer-top img {
    vertical-align: -webkit-baseline-middle;
    max-width: 20px;
}

.site-footer .footer-top .social {

    top: 10px;
}



.site-footer .footer-bottom .social{margin-right:0;text-align:center;margin-top:-20px}
}
.form-subscribe{background:#fff;height:32px;position:relative;padding:0 116px 0 10px;-webkit-border-radius:3px;border-radius:3px;margin:0 0 16px}
.form-subscribe input[type=text]{border:none;background:0 0;padding:0;width:100%;font-size:.9375rem;color:#000;height:20px;position:relative;top:4px;line-height:20px}
.form-subscribe button{border:none;background:#76848e;color:#fff;height:100%;width:106px;padding:2px 0 0;text-align:center;position:absolute;right:0;top:0;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;font-size:1rem}
.form-subscribe button:hover{background-color:#6a7781}
.section-promo{background: whitesmoke; color:#000;overflow:hidden}
.section-promo .container{position:relative}
.section-promo .section-promo-pic{position:absolute;top:0;right:15px;width:57%}
.section-promo .section-promo-pic img{text-align:right;max-width:100%;float:right}
.section-promo .section-promo-txt{padding:35px 40px 65px 0;width:42%;line-height:1.7}
.section-promo h1,.section-promo h2,.section-promo h3,.section-promo h4,.section-promo h5,.section-promo h6{margin:0 0 20px;line-height:1.375;font-size:2.5rem;font-weight:700}
.icon-txt-item,.txt-btn-block{line-height:1.6}
.section-promo .btns-group{text-align:left;padding:20px 0 0}
.section-promo .btns-group .btn{margin-left:0;margin-right:20px}
@media (max-width:1349px){.section-promo .section-promo-pic,.section-promo .section-promo-txt{width:49%}
}
@media (max-width:1199px){.section-promo .section-promo-pic{width:44%}
.section-promo .section-promo-txt{width:56%}
}
@media (max-width:991px){.section-promo .section-promo-pic{display:none}
.section-promo .section-promo-txt{width:auto}
}
@media (max-width:767px){.section-promo h1,.section-promo h2,.section-promo h3,.section-promo h4,.section-promo h5,.section-promo h6{font-size:1.5rem}
}
.txt-btn-block .tbl-cell{padding:20px 0}
.txt-btn-block .tbl-cell-action{width:50px;white-space:nowrap;padding-left:100px}
.txt-btn-block h1,.txt-btn-block h2,.txt-btn-block h3,.txt-btn-block h4,.txt-btn-block h5,.txt-btn-block h6{font-weight:700;font-size:1.875rem;margin:1rem 0 .5rem}
@media (max-width:991px){.txt-btn-block{display:block;padding:20px 0;text-align:center}
.txt-btn-block .tbl-cell,.txt-btn-block .tbl-row{display:block}
.txt-btn-block .tbl-cell{padding:0}
.txt-btn-block .tbl-cell-action{width:auto;white-space:normal;padding:10px 0 20px}
}
.icon-txt-item{text-align:center;font-size:.9375rem;padding:0 0 15px}
.icon-txt-item .font-icon{font-size:2.875rem;color:#00b0f0;display:block;margin:0 0 7px}
.icon-txt-item h1,.icon-txt-item h2,.icon-txt-item h3,.icon-txt-item h4,.icon-txt-item h5,.icon-txt-item h6{margin:0 0 1em;font-size:1.125rem;font-weight:700}
.video-container{width:770px;height:433px;margin:0 auto 30px;background:#000;position:relative;-webkit-box-shadow:0 0 20px rgba(0,0,0,.25);box-shadow:0 0 20px rgba(0,0,0,.25)}
.video-container .poster{display:none}
.video-container .video-preview{position:absolute;left:0;top:0;width:100%;height:100%;background:50% 50% no-repeat #000;-o-background-size:cover;background-size:cover;font-size:6.25rem;color:#00b0f0;cursor:pointer;z-index:15}
.video-container .video-preview .font-icon{display:block;position:absolute;left:50%;top:50%;margin:-50px 0 0 -50px}
.video-container iframe{position:absolute;left:0;top:0;width:100%;height:100%}
@media (max-width:991px){.video-container{width:600px;height:337px}
}
@media (max-width:767px){.video-container{width:400px;height:225px}
.video-container .video-preview{font-size:4rem}
.video-container .video-preview .font-icon{margin:-32px 0 0 -32px}
}
.price-block .price-block-title,.social-icons{font-size:1.875rem;text-align:center}
@media (max-width:480px){.video-container{width:280px;height:157px}
}
.social-icons a{text-decoration:none;color:#fff;margin:0 13px 30px}
.social-icons a:hover{text-decoration:none;color:#00b0f0;
}
.price-block{position:relative;padding:0 0 15px;-webkit-border-radius:4px;border-radius:4px;border:2px solid rgba(118,132,142,.5);margin:0 auto 30px;max-width:350px}
.price-block .price-block-title{font-family:arial; font-weight:700;border-bottom:solid 1px rgba(118,132,142,.5);padding:20px 15px 16px}
.price-block .price-block-amount{text-align:center;border-bottom:solid 1px rgba(118,132,142,.5);margin:0 0 28px;line-height:1;padding:26px 0 12px}
.price-block .price-block-amount .caption,.price-block .price-block-amount .number{display:inline-block;vertical-align:middle}
.price-block .price-block-amount .number{font-family:'Code Pro LC',sans-serif;font-weight:300;font-size:4.375rem; color: #00b0f0;}
.price-block .price-block-amount .caption{text-align:left}
.price-block .price-block-amount .caption-val{font-size:12px;position:relative;top:-10px}
.price-block .price-block-amount .caption-txt{color:#76848e;font-weight:400;font-size:.8125rem;position:relative;top:-2px}
.price-block .price-block-inner{padding:0 28px}
.price-block .price-block-p{font-size:1rem;margin:0 0 20px;font-family:'Code Pro LC',sans-serif;font-weight:700}
.price-block .price-block-list{font-size:1rem}
.price-block .price-block-list li{position:relative;padding:0 0 0 25px;margin:0 0 20px}
.price-block .price-block-list li:before{font-family:startui-landing!important;font-style:normal!important;font-weight:400!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:"\61";position:absolute;left:0;top:2px;color:#76848e}
.price-block .price-block-btn{position:absolute;left:0;bottom:0;width:100%;padding:0 28px 28px}
.price-block.selected{background-color:#76848e;border-color:#76848e;color:#fff}
.price-block.selected .price-block-amount,.price-block.selected .price-block-title{border-bottom-color:rgba(255,255,255,.25)}
.price-block.selected .caption-txt,.price-block.selected .price-block-list li:before{color:#fff}
.card-item .card-item-caption,.card-item.card-item-colored .card-item-caption{background:-webkit-linear-gradient(top,rgba(118,132,142,0) 0,rgba(118,132,142,.85) 100%);background:-webkit-gradient(linear,left top,left bottom,from(rgba(118,132,142,0)),to(rgba(118,132,142,.85)));background:-o-linear-gradient(top,rgba(118,132,142,0) 0,rgba(118,132,142,.85) 100%);background:linear-gradient(to bottom,rgba(118,132,142,0) 0,rgba(118,132,142,.85) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076848e', endColorstr='#d976848e', GradientType=0)}






/* footer edit */


.footer-bottom .container {
    border-top: 0px dashed green;


}

.bottom-element {
    border-top: 1px dashed green;
}


.footer-top li {    margin-top: 10px; font-weight: bold;}



                        #nav {
                            width: 100%;
                            margin:0 auto;
                            list-style:none;
                            }
                            #nav li {
                            float:left;
                            font-size: 14px;
                            padding-left: 10px;
                            padding-right: 10px;
                            }

                            #nav li:first-child {
                            padding-left: 0px;
                            }

                            #nav a {
                            display:block;
                            text-align:center;
                            text-decoration:none;
                            color: #000;
                            }
